.statshow-name, .statshow-rare, .statshow-cost, .statshow-element,
.statshow-type, .statshow-hp, .statshow-atk, .statshow-rcv, .statshow-weighted,
.statshow-leader, .statshow-description, .statshow-active, .statshow-cooldown,
.statshow-awakenings, .statshow-edit, .statshow-delete {
  border: 2px solid;
  float: left;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  min-height: 18.5px;
  align-items: center;
}

.statshow-name {
  min-width: 150px;
  max-width: 150px;
}
.statshow-cost, .statshow-rare {
  min-width: 30px;
  max-width: 30px;
}
.statshow-type, .statshow-element {
  min-width: 25px;
  max-width: 25px;
  min-height: 18.5px;
}
.statshow-hp, .statshow-atk, .statshow-rcv {
  min-width: 35px;
  max-width: 35px;
}
.statshow-weighted {
  min-width: 50px;
  max-width: 50px;
}
.statshow-leader, .statshow-active {
  min-width: 200px;
  max-width: 200px;
}
.statshow-description {
  min-width: 250px;
  max-width: 250px;
}
.statshow-awakenings {
  min-width: 171px;
  max-width: 171px;
  min-height: 18.5px;
}
.statshow-cooldown {
  min-width: 63px;
  max-width: 63px;
}

.statshow-bar {
  background: #e7f6fd;
  color: #2f3d7b;
  display: flex;
  float: left;
  font-family: 'Concert One', cursive;
  white-space: nowrap;
}

.stat-empty {
  background: #e7f6fd;
  border: 2px solid #2f3d7b;
  color: #2f3d7b;
  display: inline-flex;
  font-family: 'Concert One', cursive;
  padding-left: 386px;
  padding-right: 385px;
  text-align: center;
  white-space: nowrap;
}

.statform-formbox {
  background: #e7f6fd;
  border: 5px solid #5dabfb;
  border-radius: 10px;
  color: #2f3d7b;
  display: flex;
  flex-direction: column;
  float:left;
  font-family: 'Concert One', cursive;
  margin: 5px;
  padding: 10px;
  padding-bottom: 20px;
  width: max-content;
}

.statform-form-text {
  border: 1px solid;
  width: 480px;
}

.statform-form-number {
  border: 1px solid;
  width: 64px;
}

.statform-form-element {
  border: 1px solid;
  width: 60px;
}

.statform-form-type {
  border: 1px solid;
  width: 180px;
}

.title {
  min-width: 400px;
  max-width: 600px;
}

.statform-form-text, .statform-form-number, .statform-form-element, .statform-form-type {
  background: steelblue;
  border: 2px solid #5dabfb;
  border-radius: 4px;
  color: snow;
  margin: 2px 0px;
  margin-left: 6px;
  padding: 2px;
}

.statform-submit {
  background: lightblue;
  border: 5px solid #5dabfb;
  border-radius: 10px;
  color: #	#5dabfb;
  margin-top: 10px;
  padding: 5px;
}

.dropdown-img {
  width: 25px;
}

.statshow-img, .statshow-img-i {
  width: 19px;
  float: left;
}

.statline {
  color: #2f3d7b;
  display: flex;
  float:left;
  font-family: 'Concert One', cursive;
  max width: 200%;
  width: 150%;
}

.statshow-img-i {
  cursor: pointer;
}

.mainpage-button {
  background: #e7f6fd;
  border: 5px solid #5dabfb;
  border-radius: 10px;
  color: #2f3d7b;
  display: flex;
  flex-direction: column;
  font-family: 'Concert One', cursive;
  margin: 5px;
  padding: 5px;
  width: max-content;
}
