.statshow-name, .statshow-rarity, .statshow-cost, .statshow-element,
.statshow-type, .statshow-hp, .statshow-atk, .statshow-rcv, .statshow-weighted,
.statshow-leader, .statshow-description, .statshow-active, .statshow-cooldown, .statshow-awakenings {
  float: left;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border: 2px solid;
}

.statshow-bar {
  position: fixed;
  top: 365px;
  display: inline-flex;
  white-space: nowrap;
}

.stat-empty {
  display: inline-flex;
  white-space: nowrap;
  padding-left: 386px;
  padding-right: 385px;
  border: 2px solid;
  text-align: center;
}

.statform-formbox {
  float:left;
  width: 490px;
  padding-bottom: 20px;
}

.statform-form-text {
  border: 1px solid;
  width: 390px;
}

.statform-form-number {
  border: 1px solid;
  width: 42px;
}

.statform-form-element {
  border: 1px solid;
  width: 60px;
}

.statform-form-type {
  border: 1px solid;
  width: 180px;
}
